* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
}
html /deep/ paper-action-dialog::shadow #scroller {
    height: 377px;
    width: 610px;
}